<form action="/courses/store" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">name</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="name courses">
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">image</label>
        <input type="text" name="image" class="form-control" id="name" value="https://files.fullstack.edu.vn/f8-prod/courses/__.png">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">description</label>
        <textarea class="form-control" id="description" name="description" rows="2"></textarea>
    </div>
    <button type="submit" class="btn">create</button>
</form>